body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h1 ,h2 ,h3 ,h4 ,h5 ,h6{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: bold;  
}
p{
    color: grey;
}
.big-heading{

    font-size: 3.5em;
    line-height: 1.5;
    font-weight: 900;
  
}
#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 7% 15% 7%;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem ;
    font-style: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "montserrat";
    font-size: 1.5rem;
}
.download-btn{
    margin: 10% 5% 3% 0;
}

.iphone-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
    right: 30%;
    

}

#features{
    padding: 7% 15%;
    background-color: white;
    z-index: 1;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
.icon{
    color: #ef8172 ;
    margin-bottom: 1rem;
}
.icon:hover{
    color: red;
}
#testimonials{
    
    text-align: center;
    background-color: #ff4c68;
    color: white;

}
.dog-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-icon{
    width: 15%;
    margin: 20px 20px 50px;
}
.lady-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}
.card-deck{
    text-align: center;
}

#pricing{
    text-align: center;
    padding: 100px;
}
.price-text{
    font-size: 3rem;

}
.pricing-col{
    padding: 3% 2%;
}
@media (max-width: 1028px){

    #title{
        text-align: center;
    }
    .iphone-img{
        position: static;
        transform: rotate(0);
        margin-top: 100px;
    }
}
#cta{
    padding: 7% 30%;
    text-align: center;
    background-color: #ff4c68;
    color: white;
}
#footer{
    text-align: center;
    padding: 4% 8%;
}
.footer-icon{
    margin: 5px 10px;
}
.footer-p{
    margin-top: 2%;
}